/* * {
    background-color: black;
    color: white;
} */



/* .para {
    color: blue;
    background-color: black;
} */


/*#para{
    color: blue;
}
h1,h2,h3{
font-family: Arial;
 color: yellow
}*/

/* ul>li {
    background-color: black !important;
    color: white;
}




ul>li {
    background-color: blue;
    color: white;
} */



/* #para2 {
    color: white;
    background-color: blueviolet;
}
.para {
    color: yellow;
    background-color: black !important;
} */


/* input{
    color: white;
    background-color: rebeccapurple;
} */

/* * {
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    font-family: "Courier New", monospace;
}

i {
    color: green;
}

i {
    color: red;
}

b {
    color: pink;
}

p b {
    color: blue !important;
}

p b {
    color: violet;
}

p#intro {
    font-size: 100%;
}

p {
    font-size: 75%;
} */



p{
    color: rgba(27, 184, 136, 1);
    background-color: rgba(27, 98, 235, 0.4);

}
